<div id="container" class="content_display">
	<p><b><%= @list.title%> is located at :</b></p>
	<div>
		<p><%= @list.address1%>, <%= @list.address2 %><br>
		<%= @list.city%>, <%= @list.state%><br>
		<%= @list.country%></p>
	</div><br>
	<p>Cost for 1 day is <b>₹<%= @list.cost%></b><br></p>
	<p><b>Description : </b><%=@list.description%><br></p>
	<p><b>Contact     : </b></p>
	<div>
		<p><%=@list.mail%><br>
		Ph: <%=@list.phone%></p>
	</div>	
	<%= link_to 'Visit', property_visit_path(:id=>@list.id), :class =>"btn btn-primary"%>
</div>