<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>	
  <div class="carousel-inner">
    <div class="active item">
    	<%= image_tag "1.jpg", :class =>"image_car"%>
    </div>
    <div class="item">
    	<%= image_tag "6.jpg", :class =>"image_car"%>
    </div>
    <div class="item">
    	<%= image_tag "5.jpg", :class =>"image_car"%>
    </div>
    <div class="item">
      <%= image_tag "4.jpg", :class =>"image_car"%>
    </div>
    <div class="item">
      <%= image_tag "3.jpg", :class =>"image_car"%>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
<script type="text/javascript">
$('.carousel').carousel({
  interval: 3000
})
</script>