<div id="container">
	<% form_for(@user) do |f| %>
		<%= f.error_messages %>
		<%= f.label :name %><br />
		<div class="input-prepend">
			<span class="add-on">
				<i class="icon-user "></i>
			</span>
			<%= f.text_field :name, :required=>"required"%>
		</div>
		<%= f.label :email %><br />
		<div class="input-prepend">
			<span class="add-on">
				<i class="icon-envelope"></i>
			</span>
			 <%= f.text_field :email, :required=>"required", :onblur=>"check_mail()"%>
		</div>
		<%= f.label :password %><br />
		<div class="input-prepend">
			<span class="add-on">
				<i class="icon-lock"></i>
			</span>
			<%= f.password_field :password, :required=>"required"%> 
		</div>
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<div class="input-prepend">
			<span class="add-on">
				<i class="icon-lock"></i>
			</span>
			<%= f.password_field :password_confirmation, :required=>"required", :onblur=>"validate()"%> 
		</div>
		<div>
			<%= f.submit "Sign up", :class =>"btn btn-primary" %>
		</div> 
	<% end %>
</div>
<script type="text/javascript">
	function check_mail()
	{
		var ck_email=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
		var email=document.getElementById("user_email").value;
		if(!ck_email.test(email))
		{
			alert("E-mail id is invalid. Retype correct e-mail id...");
			document.getElementById("user_email").focus();
		}
	}
	function validate()
	{
		var password=document.getElementById("user_password").value;
		var password_confirmation=document.getElementById("user_password_confirmation").value;
		if(password_confirmation!=password)
		{
			alert("Passwords do not match. Enter password again");
			document.getElementById("user_password").focus();
		}
	}
</script>